<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Cadastro de Imóveis</title>
</head>
<body>
    <h1>Cadastro de Imóveis</h1>
    <form action="/imoveis/criar" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="endereco">Endereço:</label><br>
        <input type="text" id="endereco" name="endereco" required><br><br>

        <label for="tipo">Tipo:</label><br>
        <input type="text" id="tipo" name="tipo" required><br><br>

        <label for="preco">Preço:</label><br>
        <input type="text" id="preco" name="preco" required><br><br>

        <label for="contrato">Contrato:</label><br>
        <input type="text" id="contrato" name="contrato" required><br><br>

        <label for="imobiliarias">Imobiliárias:</label><br>
        <input type="text" id="imobiliarias" name="imobiliarias" required><br><br>

        <label for="lat1">Latitude 1:</label><br>
        <input type="text" id="lat1" name="lat1" required><br><br>

        <label for="lon1">Longitude 1:</label><br>
        <input type="text" id="lon1" name="lon1" required><br><br>

        <label for="lat2">Latitude 2:</label><br>
        <input type="text" id="lat2" name="lat2" required><br><br>

        <label for="lon2">Longitude 2:</label><br>
        <input type="text" id="lon2" name="lon2" required><br><br>

        <label for="lat3">Latitude 3:</label><br>
        <input type="text" id="lat3" name="lat3" required><br><br>

        <label for="lon3">Longitude 3:</label><br>
        <input type="text" id="lon3" name="lon3" required><br><br>

        <label for="lat4">Latitude 4:</label><br>
        <input type="text" id="lat4" name="lat4" required><br><br>

        <label for="lon4">Longitude 4:</label><br>
        <input type="text" id="lon4" name="lon4" required><br><br>

        <input type="submit" value="Adicionar Imóvel">
    </form>
</body>
</html>
